{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main.css' %}" type="text/css" />
    <title>Самосвалы</title>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>