{% extends "base.html" %}
{% block content %}
<div class="container">
    <p></p>
    <form action="" method=GET>
        {{ Model }}
        <button type="submit">Применить</button>
        <table>
            <tr>
                <th>бортовой номер</th>
                <th>модель</th>
                <th>макс.грузоподъемность</th>
                <th>текущий вес</th>
                <th>перегруз, %</th></tr>
            <tr>
            {% for item in Trucks %}
                <td>{{ item.board_number }}</td>
                <td>{{ item.truck_model__name }}</td>
                <td>{{ item.truck_model__max_payload }}</td>
                <td>{{ item.current_weight }}</td>
                <td>{{ item.overload }}</td>
            </tr>
            {% endfor %}
        </table>
    </form>
</div>
{% endblock %}